@import 'src/assets/styles/variables';

.input {
  width: 100%;
  padding: 14px;
  margin-bottom: 0.7rem;

  background-color: $dark-accent;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  
  color: $white;
  font-size: 16px;
  
  &:focus {
    border-color: rgba($accent, .3);
  }

  &::placeholder {
    color: #946e86;
  }
}

.error {
  color: red;
  font-size: 1rem;
}